

.article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 24px;
	max-width: var(--container-width, auto);
	margin: 0 auto;
	padding: 72px 0 144px;
}

.article {
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--font-color);
	background-color: var(--bg-color);
	max-width: var(--container-width);
  }
  
.titleDescription {
	max-width: 550px;
}

.image {
	width: 100%;
	height: auto;
	margin-top: 26px;
}

  